@page
@model ProjectStore.Pages.Product.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление💀</h1>

<h3>Уверены что хотите удалить это?</h3>
<div>
    <h4>Product</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ImagePath)
        </dd>
        <dd>
               <img class="rounded-3" style="object-fit: cover" src="@Model.Product.ImagePath" alt="Фото товара"/>
        </dd>

     
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Product.Id"/>
        <input type="submit" value="Удалить" class="btn btn-primary"/> |
        <a asp-page="./Index">Список товаров</a>
    </form>
</div>